@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;

}
/* font-sizes */

.fs-8 {font-size: 8px}
.fs-9 {font-size: 9px}
.fs-10 {font-size: 10px}
.fs-11{font-size: 11px}
.fs-12 {font-size: 12px}
.fs-13 {font-size: 13px}
.fs-14 {font-size: 14px}
.fs-15 {font-size: 15px}
.fs-16 {font-size: 16px}
.fs-17 {font-size: 17px}
.fs-18 {font-size: 18px}
.fs-19 {font-size: 19px}
.fs-20 {font-size: 20px}
.fs-21 {font-size: 21px}
.fs-22 {font-size: 22px}
.fs-23 {font-size: 23px}
.fs-24 {font-size: 24px}
.fs-25 {font-size: 25px}
.fs-26 {font-size: 26px}
.fs-27 {font-size: 27px}
.fs-28 {font-size: 28px}
.fs-29 {font-size: 29px}
.fs-30 {font-size: 30px}
.fs-31 {font-size: 31px}
.fs-32 {font-size: 32px}
.fs-33 {font-size: 33px}
.fs-34 {font-size: 34px}
.fs-35 {font-size: 35px}
.fs-36 {font-size: 36px}
.fs-37 {font-size: 37px}
.fs-38 {font-size: 38px}
.fs-39 {font-size: 39px}
.fs-40 {font-size: 40px}
.fs-41 {font-size: 41px}
.fs-42 {font-size: 42px}
.fs-43 {font-size: 43px}
.fs-44 {font-size: 44px}
.fs-45 {font-size: 45px}
.fs-46 {font-size: 46px}
.fs-47 {font-size: 47px}
.fs-48 {font-size: 48px}
.fs-49 {font-size: 49px}
.fs-50 {font-size: 50px}
.fs-51 {font-size: 51px}
.fs-52 {font-size: 52px}
.fs-53 {font-size: 53px}
.fs-54 {font-size: 54px}
.fs-55 {font-size: 55px}
.fs-56 {font-size: 56px}

/* font-weights */
.font-100 {font-weight: 100;}
.font-200 {font-weight: 200;}
.font-300 {font-weight: 300;}
.font-400 {font-weight: 400;}
.font-500 {font-weight: 500;}
.font-600 {font-weight: 600;}
.font-700 {font-weight: 700;}
.font-800 {font-weight: 800;}
.font-900 {font-weight: 900;}

/* custom margins for sections */
.mx-custom {
    margin: 0 70px;
}

.onpurple {
    color: purple;
}

.pink-bg, .bg-pink:hover {
   background-color:  #ECD7E8;
}

.bg-blue {
    background-color: #13132F;
}
a{text-decoration: none;}

nav {
    position: sticky !important;
    top: 0px;
}

nav ul {
    display: flex;
    /* justify-content: space-between; */
    width: 80%;
}

nav ul li a {
    color: #828282;
}

.text-purple {
    color: #A1398E !important;
}



a.btn-purple {
    background-color: #A1398E !important;
    /* border-radius: 7px; */
}

.btn-carousel:hover {
    background-color: #A1398E !important;
    color: #fff;
}

.btn-carousel.carous {
    background-color: #A1398E !important;
    color: #fff;
}

main.main {
    height: 100vh;
}

main.main {
   background: url('../images/img@main.png')no-repeat center center/cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main.main .container h1 {
    line-height: 1.3em;
    font-size: 68px ;
    color: #fff;
    font-weight: 600;
}

main.main .container p {
    font-size: 16px ;
    color: #f2f2f2;
    font-weight: 500;
    max-width: 580px;
    width: 100%;
    text-align: center;
    margin:  0 auto;
    margin-bottom: 38px;
}

main.main .container a {
   transition: all .4s ease-in-out;
   font-weight: 500;
}
main.main .container a:hover {
    background-color: #e2e0e0 !important;
    color: #A1398E;
}

main.main .container .main-img {
    display: flex;
    align-items: center;
}

.section-box {
    padding: 4rem 0;
}

/* newsletter section */
#news {
    background: url('../images/img@newsletter.png')no-repeat center center/cover;
    height: 100%;
}

.fqa p {
    color: #6B7280;
}

.fqa h4 {
    color: #111827
}

.under li {
    color: #666666;
}
